/**
 * @file
 * Form Styling
 */


.form-item { /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.5em 0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error { /* Highlight the form elements that caused a form submission error */
  border: 1px solid #c00;
}

.form-item label { /* The label for a form element */
  display: block;
  font-weight: bold;
}

.form-item label.option { /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}

.form-required { /* The part of the label that indicates a required field */
  color: #c00;
}

.form-item .description { /* The descriptive help text (separate from the label) */
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item { /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0; /* Drupal core uses "0.4em 0" */
}

.form-submit { /* The submit button */
}

.container-inline div,
.container-inline label { /* Inline labels and form divs */
  display: inline;
}

.tips { /* Tips for Drupal's input formats */
}

a.button { /* Buttons used by contrib modules like Media */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */

.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */

#block-search-form { /* Wrapper for the search form */
}

/*
 * Drupal's default login form block
 */

#user-login-form {
  text-align: left; /* LTR */
}

/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

#user-login-form ul { /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link { /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}

#user-login-form li.user-link { /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */

form th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

form tbody {
  border-top: 1px solid #ccc;
}

form tr.even {
  background-color: #fff;
}

form table .item-list ul {
  margin: 0;
}

.lt-ie8 tr.even th,
.lt-ie8 tr.even td,
.lt-ie8 tr.odd th,
.lt-ie8 tr.odd td {
  border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */

td.menu-disabled {
  background: #ccc;
}

body.page-datasets-searchresults form {
  border-right: 2px solid #96BD0D;
}
body.page-datasets-searchresults .topic-title {
  background-color: #C9DB87;
}
body.page-datasets-searchresults .topic-label {
  padding-left: 4px;
  border-right: 2px solid #fff;
}
body.page-datasets-searchresults .topic-label.last {
  border-right: 0;
}
body.page-datasets-searchresults .topic-row {
  border-bottom: 2px solid #fff;
  line-height: 1.1em;
}
body.page-datasets-searchresults .topic-result {
  background-color: #DEEBB6;
  border-right: 2px solid #fff;
  padding-left: 2px;
}
body.page-datasets-searchresults .topic-result.last {
  border-right: 0;
}

body.page-datasets-searchresults .filters {
  padding: 0 0 10px 4px;
}

.form-item-year-min input,
.form-item-year-max input {
  width: 4em;
}
#edit-indicator-wrapper,
#clio-search-select-form .form-item-indicator {
  width: 500px;
  margin-right: 20px;
  clear: left;
}
#edit-country-wrapper,
#clio-search-select-form .form-item-country {
  width: 400px;
}
#clio-search-select-form .form-item-year-min,
#clio-search-select-form .form-item-year-max,
#clio-search-select-form .form-item-country,
#clio-search-select-form .form-item-indicator {
  float: left;
}
#clio-search-select-form .form-item-year-min,
#clio-search-select-form .form-item-year-max,
#clio-search-select-form .form-submit {
  margin-right: 10px; 
}

#clio-search-select-form .form-item-year-min label,
#clio-search-select-form .form-item-year-max label,
#clio-search-select-form .form-item-country label,
#clio-search-select-form .form-item-indicator label,
#edit-year-wrapper label {
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 5px;
  text-transform: lowercase;
}

#clio-search-select-form input,
#clio-search-select-form select {
  border-radius: 0;
  border: 1px solid #96BD0D;
}

#clio-search-select-form .ms-selectable input {
  margin-bottom: 2px;
  width: 98%;
}
#clio-search-select-form #ms-edit-indicator {
  width: 480px;
}
#clio-search-select-form #ms-edit-country {
  width: 380px;
}
#clio-search-select-form .ms-container .ms-list {
  border-radius: 0;
  border-color: #96bd0d;
}
#clio-search-select-form .ms-container .ms-selection {
  margin-top: 1.6em;
}
#clio-search-select-form #ms-edit-indicator .ms-selection,
#clio-search-select-form #ms-edit-indicator .ms-selectable {
  width: 46%;
}

#clio-search-select-form .ms-container .ms-selectable input {
  background: rgba(0, 0, 0, 0) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wcHDDo0DUwzWwAAASVJREFUKM990r9Ll2EUBfDP+80UAiFcGkPcxcUMwkla2iMdrvKg/RNB0JCjc7b4DhdpL2gOavgSjuLmIm35s6FEoxp6/PIq4pke7r2Hc869TwNtJjzCGmb8xyleYKNEnLSZSoQLNG1mg+d4W2vvcYwpTOIrnpSIAx30MI51HOA+nmEFc3iHB9joOBsQF9BgqUTs4bREnJeIfSzjG2bbzImu1R7u4Sf63Rz1/QtbGKlzl4gwVFWvwyj+Xi320McwFrtWSoQ2c7pmPMJ2lziED9jFWpt5F4nveIyXVXGnRPzoEpua5yG+4BYOcY4x3K5zv/GqRKwOrNYl9HEHb+oNz/AJT/G5OnvdZi5dVbz0K7poM3vYxHzN3gy2egNJifhT77mJjxe9f3zpYQgu6FTOAAAAAElFTkSuQmCC") no-repeat scroll right center;
}

#clio-search-select-form .ms-container .ms-selectable input, 
#clio-search-select-form .ms-container .ms-selectable li.ms-elem-selectable, 
#clio-search-select-form .ms-container .ms-selection li.ms-elem-selection,
#clio-search-select-form .ms-container .ms-optgroup-label {
  font-size: inherit;
  font-family: "Questrial","Helvetica",sans-serif;
}
#clio-search-select-form #ms-edit-indicator .ms-optgroup-label {
  background-color: #ccc;
  color: #fff;
  cursor: default;
}

#clio-search-select-form .ms-container .ms-selectable li.ms-hover,
#clio-search-select-form .ms-container .ms-selection li.ms-hover {
  background-color: #96bd0d;
}

#clio-search-select-form .ms-container .ms-list.ms-focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #96bd0d;
  /* box-sahdow: none; */
}

#edit-country-wrapper .bef-tree li,
#edit-indicator-wrapper .bef-tree li {
  list-style: none;
}
#edit-country-wrapper .bef-tree li.collapseli-processed > div.form-item,
#edit-indicator-wrapper .bef-tree li.collapseli-processed > div.form-item {
  height: 1.5em;
  margin-top: 5px;
}
#edit-country-wrapper .bef-tree .li-title,
#edit-indicator-wrapper .bef-tree .li-title {
  float: right;
  color: #96BD0D;
  font-size: 32px;
  width: 20px;
  text-align: center;
}
#edit-country-wrapper .bef-tree .li-title:hover,
#edit-country-wrapper .bef-tree .li-title:focus,
#edit-indicator-wrapper .bef-tree .li-title:hover,
#edit-indicator-wrapper .bef-tree .li-title:focus {
  text-decoration: none;
  outline: none;
}

.page-datasets-search .select-message,
.page-datasets-select .select-message,
.page-datasets-combined .select-message {
  clear: left;
  float: left;
  margin: 1.5em 0;
  color: #666;
}
.select-help {
  margin: 1em 0 0;
  color: #666;
  font-family: "Questrial","Helvetica",sans-serif;
}

#clio-search-type-form {
  border-bottom: 1px solid #bbbbbb;
  margin: 1em 0 1.5em;
}
#clio-search-type-form input.form-submit {
  line-height: 1.5em;
  letter-spacing: 1px;
  padding: 0 1em;
  text-align: center;
  margin-right: 4px;
}    
#clio-search-type-form input.form-submit,
.page-datasets-search ul.primary li {
  border-style: none;
  text-shadow: none;
  text-transform: lowercase;
}
#clio-search-type-form input.form-submit,
.page-datasets-search ul.primary a {
  font-family: "Questrial","Helvetica",sans-serif;
  border-width: 0;
}
#clio-search-type-form input.form-submit,
.page-datasets-search ul.primary a:link, ul.primary a:visited {
  background-color: #dcdcdc;
  border-radius: 0;
}
#clio-search-type-form .active input.form-submit,
.page-datasets-search ul.primary a.active {
  background-color: #96bd0d;
  background-image: none;
}
#clio-search-type-form input.form-submit,
.page-datasets-search ul.primary a:hover, ul.primary a:focus {
  background-color: #e9e9e9;
}

a#select-all-countries,
a#deselect-all-countries {
  color: #96bd0d;
}

fieldset.adjust-selection {
  border: 0;
  margin: 10px 0;
  padding: 0;
}
fieldset.adjust-selection .fieldset-legend a {
  font-family: "Questrial","Helvetica",sans-serif;
  color: #b1007c;
  text-transform: lowercase;
  font-size: 16px;
}
