/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */


.node { /* Node wrapper */
}

body.section-datasets .node {
  border-top: 5px solid #96BD0D;
}
body.section-visualize .node {
  border-top: 5px solid #B1007C;
}
body.section-news-publications .node {
  border-top: 5px solid #C40E1F;
}
body.section-about .node {
  border-top: 5px solid #D9B500;
}
body.section-partners .node {
  border-top: 5px solid #38378A;
}
body.section-contact .node {
  border-top: 5px solid #DB6B20;
}

body.section-news-publications article.node-6 {
  border: 0;
}

.preview .node { /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

.node .node-title { /* Node title */
}

.node .user-picture { /* The picture of the node author */
}

.node .submitted { /* The "posted by" information */
}

.node .content { /* Node's content wrapper */
}

.node ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished p.unpublished,
.comment-unpublished p.unpublished { /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.lt-ie8 .node-unpublished p.unpublished > *,
.lt-ie8 .comment-unpublished > * {
  position: relative; /* Otherwise these elements will appear below the "Unpublished" text. */
}


body.page-datasets-indicators #content .view a,
body.page-datasets-topics #content .view a,
body.page-datasets-countries #content .view a {
  color: #000;
}
body.page-datasets #content .view ul {
  padding: 0;
  margin: 0;
}
body.page-datasets #content .view ul.countries,
body.page-datasets #content .view ul.topicsblock ul {
  padding: inherit;
  margin: 0 0 0 10px;
}
body.page-datasets #content .view ul.topicsblock > li {
/*  padding-bottom: 3px; */
}
body.page-datasets #content .view ul.topicsblock li {
  background-color: #fff;
}
body.page-datasets #content .view ul.topicsblock li input {
  margin-right: 4px;
  vertical-align: text-top;
}
body.page-datasets #content .view ul.countries.mainregions {
  margin-left: 0;
}

body.page-datasets-indicators #content .view li,
body.page-datasets-topics #content .view li,
body.page-datasets-countries #content .view li {
  list-style: none;
  background-color: #DEEBB6;
/*  margin: 3px 0;
  padding: 0 4px; */
}



body.page-datasets #content .view ul.countries li {
  list-style: none;
  background-color: #fff;
  margin: inherit;
  padding: inherit;
}

body.page-datasets-combined #content .datasets li {
  margin: 0;
  padding: 0 4px;
}
body.page-datasets-combined #content .datasets ul.countries li {
  margin: 0;
  padding: 0 4px;
}


body.page-datasets #content .view ul.countries li input {
  vertical-align: text-top;
}

/*
body.page-datasets #content .view ul.countries li.collapsible {
  background: #fff url(../images/minus.png) right center no-repeat;
}
*/
body.page-datasets #content .view .letter {
  width: 230px;
  border-right: 2px solid #96BD0D;
}
body.page-datasets #content .view .startletter,
body.page-datasets #content .view .coltitle,
body.page-datasets #content .view .topic-title,
body.page-datasets #content .dataset-results .dataset-title {
  background-color: #96BD0D;
  color: #fff;
  padding: 4px;
  text-transform: lowercase;
  font-size: 18px;
}
body.page-datasets #content .view.topicpage ul,
body.page-datasets #content .view.indicatorpage ul {
  width: 100%;
  padding-top: 4px;
  border-right: 2px solid #96BD0D;
  border-top: 5px solid #96BD0D;
}
body.page-datasets #content .view.topicpage ul {
  width: 25%;
}
body.page-datasets #content .view.indicatorpage table {
  margin-top: 0;
}
body.page-datasets #content .view.indicatorpage li.topics {
  text-transform: lowercase;
  background-color: #96BD0D;
  color: #fff;
  height: 30px;
  font-size: 16px;
};

body.page-datasets #content .view .col {
  border-right: 2px solid #96BD0D;
}

body.page-datasets .indicator-block {
  border-width: 4px 2px 2px 0;
  border-style: solid;
  border-color: #96BD0D;
  margin-top: 5px;
}
body.page-datasets .indicator-block table {
  margin-bottom: 0;
}
body.page-datasets .indicator-intro {
  font-size: 16px;
  margin-top: 1.5em;
  margin-left: 5px;
}
body.page-datasets h3.indicator-intro {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
}
body.page-datasets .indicator-buttons {
  float: right;
}
body.page-datasets .indicator-block .blockname {
  font-size: 18px;
  padding-bottom: 5px;
}

.section-datasets a {
  color: #96BD0D;
}
.section-datasets .indicator-buttons a {
/*  font-weight: bold; */
  font-size: 18px;
}


body.page-datasets-indicators td input[type="submit"],
body.page-datasets-topics td input[type="submit"],
body.page-datasets-countries td input[type="submit"] {
  margin-right: 15px;
}


/*** R2 ***/

body.page-datasets-indicators #content .view-indicators .view-content > .item-list,
body.page-datasets-countries #content .view-countries .view-content > .item-list {
  column-count: 4;
  column-gap: 5px;
  -moz-column-count: 4;
  -moz-column-gap: 5px;
  -webkit-column-count: 4;
  -webkit-column-gap: 5px;
}
body.page-datasets-combined #content #edit-country-wrapper > label,
body.page-datasets-combined #content #edit-indicator-wrapper > label,
body.page-datasets-indicators #content .view-indicators .view-content > .item-list > ul > li > .views-field-name,
body.page-datasets-countries #content .view-countries .view-content > .item-list > ul > li > .views-field-name {
  text-transform: lowercase;
  background-color: #96BD0D;
  color: #fff;
  line-height: 1.9em;
  font-size: 16px;
}
body.page-datasets-countries #content .view-countries .view-content > .item-list > ul > li > .item-list > ul > li > .views-field-name {
  background-color: #ADC656;
  color: #fff;
}
body.page-datasets-combined #content #edit-country-wrapper > label,
body.page-datasets-combined #content #edit-indicator-wrapper > label {
  padding-left: 5px;
}

body.page-datasets-indicators #content .view-indicators .view-content > .item-list > ul > li > .views-field-name a,
body.page-datasets-countries #content .view-countries .view-content > .item-list > ul > li > .views-field-name a,
body.page-datasets-countries #content .view-countries .view-content > .item-list > ul > li > .item-list > ul > li > .views-field-name a {
  color: #fff;
}
body.page-datasets #content .view-indicators .view-content .views-field-name,
body.page-datasets #content .view-countries .view-content .views-field-name {
  padding: 0 4px;
  border-bottom: 3px solid #FFFFFF;
  line-height: 1.7em;
}

body.page-datasets #content .view-indicators {
  padding: 5px 1px 0 0;
  border-right: 2px solid #96BD0D;
  border-top: 5px solid #96BD0D;
}
body.page-datasets #content .view-countries {
  padding: 0 1px 0 0;
  border-right: 2px solid #96BD0D;
}
body.page-datasets-topics #content .view-indicators {
  width: 30%;
}

body.page-datasets-combined #content .bef-tree li.collapseli-processed > div {
  height: 1.5em;
/*  margin-top: 5px; */
  margin-top: 0;
  padding-top: 3px;
  width: 100%;
}
body.page-datasets-combined #content .view ul.bef-tree {
  border-right: 2px solid #96BD0D;
  padding-right: 5px;
}
body.page-datasets-combined #content .view ul.bef-tree ul {
  margin-left: 15px;
  margin-right: 5px;
}

body.page-datasets-select #content .views-exposed-form .views-submit-button,
body.page-datasets-combined #content .views-exposed-form .views-submit-button {
  float: right;
}
body.page-datasets-select #content .views-exposed-form .views-submit-button input[type="submit"],
body.page-datasets-combined #content .views-exposed-form .views-submit-button input[type="submit"],
body.page-datasets-searchresults .search-submit a {
  background: url("../images/pijltje.png") no-repeat scroll right top #FFFFFF;
  border: 0 none;
  float: right;
  font-size: 32px;
  height: 33px;
  margin-bottom: 10px;
  padding-right: 40px;
  text-transform: lowercase;
}

body.page-datasets-combined #edit-year-min,
body.page-datasets-combined #edit-year-max {
  border: 1px solid #96BD0D;
  border-radius: 0;
}

body.page-datasets-searchresults .searchresults {
  border-right: 2px solid #96BD0D;
}
body.page-datasets-searchresults .searchresults table {
  width: 100%;
}
body.page-datasets-searchresults .searchresults th {
  background-color: #96BD0D;
  color: #FFFFFF;
  font-size: 18px;
  padding: 4px;
  text-transform: lowercase;
  border-left: 2px solid #FFFFFF;
}
body.page-datasets-searchresults .searchresults td {
  background-color: #DEEBB6;
  border-left: 2px solid #FFFFFF;
  padding-left: 2px;
  line-height: 1.1em;
}
body.page-datasets-searchresults .searchresults tr {
    border-bottom: 2px solid #FFFFFF;
    line-height: 1.1em;
}
body.page-datasets-searchresults .search-submit a {
  color: #000;
}
body.page-datasets-searchresults .search-submit a:hover {
  text-decoration: none;
}

